<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Employees</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    <body>
    <div class="container">
    <h3>List</h3>
    <hr>
        <!--add a button-->
<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add employee

</a>
    <table class="table  table-striped table-hover">
    <thead class="thead table-dark">
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr th:each="tempEmployee : ${employeesList}">
        <td  th:text="${tempEmployee.firstName   }"/>
        <td  th:text="${tempEmployee.lastName   }"/>
        <td  th:text="${tempEmployee.email   }"/>
        <!--Add update button /link-->
        <td>
            <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
            class="btn btn-info btn-sm">
                Update
            </a>

        </td>
    </tr>

    </tbody>



    </table>
    </div>
    </body>
    </html>